<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<div align="center">
<button type="button" class="btn btn-success btn-lg btn3d" style='width:140px; height:50px' onclick="Calcula()"><strong>TIRAR</strong></button>

<div class="container">
  

	<div aling="center" class=" col-lg-3 col-md-3 col-sm-3 project wow animated animated4 fadeInLeft">
       
    </div>
	<div aling="center" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project  wow animated animated3 fadeInLeft">
    
    </div>
	<div aling="center" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project  wow animated animated2 fadeInLeft">
    
    </div>
	<div aling="center" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project  wow animated fadeInLeft">
    
    </div>
  </div>
</div>